#header{
    background-color: #4d4d4d;
    color: white;
    border-radius: 30px;
    box-shadow: 0px 5px 13px rgba(0,0,0,0.3) ;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 body{
    background: #000000;
    margin: 0px;
}

#all-content {
    background-color: green ;
    height: 90vh;
    margin: 0px;

}
#main{
  background-color: rgb(8, 1, 1) ;
  width: 100%;
  height: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column ;
}
#container{
background-color: #f0db4f;
display: grid;
grid-template-columns: auto auto auto;
padding: 50px;
border: #4d4d4d solid 10px;
border-radius: 30px;
box-shadow: 0px 5px 13px rgba(0,0,0,0.9) ;
aspect-ratio: 1;
height: 80%;
}

.cell{
   
    padding: 20px;
    border: #1b1b1b solid 3px;
    display: flex ;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:  0.3s;
}

.cell:hover {
    background-color: gray ;
}

.action-btn{
    padding: 8px 30px ;
    font-size: 35px ;
    border-radius: 35px;
    box-shadow: 0px 5px 13px rgba(0,0,0,0.4);
    margin-top: 12px;
    border: none;
    background-color: blueviolet;
    transition: all 0.2s;
    cursor: pointer;
} 
.action-btn:hover{
    box-shadow: 0px 5px 13px rgba(0,0,0,0.8);
    background-color: blueviolet;

}
