#header{
    background-color: #4d4d4d;
    color: rgba(200, 224, 214, 0.904);
    border-radius: 30px;
    box-shadow: 0px 5px 13px rgba(0,0,0,0.3) ;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 body{
    background: #000000;
    margin: 0px;
     font-family: "Coiny", system-ui;
     font-weight: 400;
     font-style: normal;
      
}

#all-content {
    background-color: green ;
    height: 90vh;
    margin: 0px;

}
#main{
  background-color: rgb(8, 1, 1) ;
  width: 100%;
  height: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column ;
}
#container{
background-color: #443f1b;
display: grid;
grid-template-columns: auto auto auto;
padding: 50px;
border: #4d4d4d solid 10px;
border-radius: 30px;
box-shadow: 0px 5px 13px rgba(0,0,0,0.9) ;
aspect-ratio: 1;
height: 80%;
}

.cell{
   
    padding: 20px;
    border: #eb6a6a solid 3px;
    display: flex ;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:  0.3s;
}

.cell:hover {
    background-color: rgb(180, 180, 180) ;
}

.action-btn{
    padding: 8px 30px ;
    font-size: 35px ;
    border-radius: 35px;
    box-shadow: 0px 5px 13px rgba(233, 144, 144, 0.4);
    margin-top: 12px;
    border: none;
    background-color: rgb(185, 170, 31);
    transition: all 0.2s;
    cursor: pointer;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
} 
.action-btn:hover{
    box-shadow: 0px 5px 13px rgba(0,0,0,0.8);
    background-color: blueviolet;

}
